<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: blanchedalmond;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center
    }
    </style>
</head>
<head>
    <title>Error</title>
</head>
<body>
    <center>
    <h1>Error</h1>
    <p>{{ error_message }}</p>
    <br><br><br>
    <p>If the error still persists , Reload the application and  the inputs once again</p>
    </center>
</body>
</html>
